body{
    overflow-x: hidden;
    background-color: slategray;
}


img.thumb {
    float: left;
    width: 250px;
    height: 250px;
    border: 3px solid darkgray;
    padding: 5px;
    background: whitesmoke;
    cursor: pointer;
    object-fit: cover;
}

.img-responsive{
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 80vw !important;
    max-height: 50vh !important;
}

.modal-content{
    max-width: 90vw !important;
    max-height: 90vh !important;
}

.modal-content .img{
    object-fit: cover;
}

.carousel-caption{
    background-color: rgba(153, 153, 153, 0.7);

}

.secret{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}